/* Reset some default styles for lists */
ul {
    list-style: none;
    padding: 0;
}

/* Style the container */
.list-container {
    font-family: 'Quicksand';
    max-width: 800px;
    margin: 0 auto;
    margin-left: 0;
    text-align: left;
}

/* Style the list */
.project-list {
    margin: 10px 0;
    padding: 0;
}

/* Style list items */
.project-list li {
    background-color: #f3f3f3;
    border: 5px solid #ffffff;
    padding: 20px;
    margin: 10px 0;
}

/* Style hyperlinks */
.project-list a {
    text-decoration: none;
    font-weight: bold;
    color: #fd7e14;
}

/* Style descriptions */
.project-list p {
    margin: 5px 0;
}

/* Add hover effect for list items */
.project-list li:hover {
    background-color: #f3f3f3;
}
